COOKIE_SECRET=XXXXX
SESSION_TIMEOUT=1200
VERSION=1.0
DATE=2022.05.19
AUTHORIZATION_ENABLED=true
# MySQL Configuration
MY_SQL_HOST=127.0.0.1
MY_SQL_PORT=3306
MY_SQL_PASSWORD=XXXX
MY_SQL_USER=root
MY_SQL_DATABASE=session
# Email Notification Config
EMAIL_SERVICE_EMAIL=XXXX@nih.gov
EMAIL_SMTP_HOST=mailfwd.nih.gov
EMAIL_SMTP_PORT=25
# If Sent From AWS SMTP
#EMAIL_USER=XXXX
#EMAIL_PASSWORD=XXXX
NEO4J_URI=bolt://localhost:XXXX
NEO4J_USER=neo4j
NEO4J_PASSWORD=xxxxx
# GOOGLE LOGIN Config
GOOGLE_CLIENT_ID=XXXXX
GOOGLE_CLIENT_SECRET=XXXXX
GOOGLE_REDIRECT_URL=http://localhost:XXXX
# NIH LOGIN Config
NIH_CLIENT_ID=XXXXX
NIH_CLIENT_SECRET=XXXX
NIH_BASE_URL=https://stsstg.nih.gov
NIH_REDIRECT_URL=http://localhost:4010/profile
NIH_USERINFO_URL=https://stsstg.nih.gov/openid/connect/v1/userinfo
NIH_AUTHORIZE_URL=https://stsstg.nih.gov/auth/oauth/v2/authorize
NIH_TOKEN_URL=https://stsstg.nih.gov/auth/oauth/v2/token
NIH_LOGOUT_URL=https://stsstg.nih.gov/connect/session/logout
NIH_SCOPE=openid email profile
NIH_PROMPT=login