COOKIE_SECRET=XXXXX
SESSION_TIMEOUT=1200
VERSION=1.0
DATE=2022.05.19
# NEO4J Configuration
NEO4J_URI=bolt://localhost:XXXX
NEO4J_USER=neo4j
NEO4J_PASSWORD=xxxxx
# MySQL Configuration
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_PASSWORD=XXXX
MYSQL_USER=root
MYSQL_DATABASE=session
# Email Notification Config
EMAIL_SMTP_HOST=XXXX@XXXX
EMAIL_SMTP_PORT=25
# Additional Email Server Configuration
#EMAIL_USER=XXXX
#EMAIL_PASSWORD=XXXX
# GOOGLE LOGIN Config
GOOGLE_CLIENT_ID=XXXX
GOOGLE_CLIENT_SECRET=XXXX
GOOGLE_REDIRECT_URL=http://localhost:4010
# NIH LOGIN Config
NIH_CLIENT_ID=XXXX
NIH_CLIENT_SECRET=XXXX
NIH_BASE_URL=https://stsstg.nih.gov
NIH_REDIRECT_URL=http://localhost:4010/profile
NIH_USERINFO_URL=https://stsstg.nih.gov/openid/connect/v1/userinfo
NIH_AUTHORIZE_URL=https://stsstg.nih.gov/auth/oauth/v2/authorize
NIH_TOKEN_URL=https://stsstg.nih.gov/auth/oauth/v2/token
NIH_LOGOUT_URL=https://stsstg.nih.gov/connect/session/logout
NIH_SCOPE=openid email profile
NIH_PROMPT=login