COOKIE_SECRET=XXXXX
SESSION_TIMEOUT=1200
VERSION=1.0
DATE=2022.05.19
MY_SQL='{
    "HOST": "127.0.0.1",
    "PORT": 3306,
    "PASSWORD": "XXXX",
    "USER": "XXXX",
    "DATABASE": "session"
}'
EMAIL='{
    "FROM": "XXXXX@nih.gov",
    "SMTP": {
        "host": "mailfwd.nih.gov",
        "port": 25
    }
}'

GOOGLE_LOGIN='{
        "NAME": "google",
        "CLIENT_ID": "XXXX",
        "CLIENT_SECRET": "XXXX",
        "REDIRECT_URL": "http://localhost:4010"
      }'
NIH_LOGIN='{
        "NAME": "nih",
        "CLIENT_ID": "XXXX",
        "CLIENT_SECRET": "XXXX",
        "BASE_URL": "https://stsstg.nih.gov",
        "REDIRECT_URL": "http://localhost:4010/profile",
        "USERINFO_URL": "https://stsstg.nih.gov/openid/connect/v1/userinfo",
        "AUTHORIZE_URL" : "https://stsstg.nih.gov/auth/oauth/v2/authorize",
        "TOKEN_URL" : "https://stsstg.nih.gov/auth/oauth/v2/token",
        "LOGOUT_URL": "https://stsstg.nih.gov/connect/session/logout",
        "SCOPE": "openid email profile",
        "PROMPT": "login"
      }'